{% extends 'news/main.html' %}
{% block context  %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Latest NEWS</h1>
        <p class="lead text-muted">Millions of events happen every day in the world.If you don't want to miss these events,stay with us.</p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for new in news %}
                  <div class="col mt-4 ">
                      <div class="card shadow-sm">
                        <img src="{{ new.urlToImage }}" alt="" width="100%" height="45%">
                        <div class="card-body">
                          <p class="card-text" >{{ new.description|truncatechars:50 }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="{{ new.url }}" method="get">
                                    <input type="submit" value="View" class="btn btn-sm btn-outline-secondary">
                                </form>
                            </div>
                            <small class="text-muted">{{ new.publishedAt }}</small>
                          </div>
                        </div>
                      </div>
                  </div>
          {% endfor %}
      </div>
    </div>
  </div>
<div class=" mx-auto d-flex justify-content-center ">
    <h3>No more news to show</h3>
</div>
</main>
{% endblock %}
